@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Jersey 10', sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
    overflow-y: hidden;
    min-height: 100vh;
    background-color: #223d34;
    padding: 50px;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

/* -------background------- */
.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(0.4);
}

/* -------header------- */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0;
    gap: 20px;
}
h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: translateY(15px);
}
#pause,
#play{
    height: 40px;
    color: #fff;
}

/* -------sliders------- */
.sliders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    max-width: 1000px;
}
.control {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    height: 60px;
}
label {
    margin-right: 10px;
    font-size: 1.5rem;
}
input[type="range"] {
    appearance: none;
    height: 7px;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(151, 187, 151) var(--fill-percentage, 0%), #cac4c496 var(--fill-percentage, 0%));
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 12px;
    width:  12px;
    border-radius: 50%;
    background: white;
}
/* -------bottom quote------- */
.quote {
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

/* -------media query------- */
@media screen and (max-width: 600px) {
    body {
        position: fixed;
        overflow-x: scroll;
        padding: 20px;
    }
    h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    #pause,
    #play{
        height: 25px;
        color: #fff;
        transform: translateY(-7px);
    }

    /* -------sliders------- */
    .sliders {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .slider-container {
        flex-direction: column;
        gap: 10px;
    }
    .control {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding: 10px 0px 20px 0px;

    }
    .icon {
        height: 25px;
    }
    label {
        margin-right: 0px;
        font-size: 1.5rem;
    }
    input[type="range"] {
        height: 10px;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 15px;
        width:  15px;
        border-radius: 50%;
    }
    /* -------bottom quote------- */
    .quote {
        width: 80%;
        font-size: 1.2rem;
    }
}